*{ border: 0x;
margin: 0px;
}

.topnav{
    display:flex;
    flex-direction: row;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:#0a0908
}
nav a{
        text-decoration: none;
        font-size:large;
        display:block;
        padding:10px 20px;
    }
nav a:link{
        color:#F2F4F3
    }
nav a:visited{
        color:#F2F4F3 ;
    }
nav a:hover{
        color:#F2F4F3 ;
        background-color:#49111c;
    }
nav a:active{
        color: #F2F4F3;
        background-color:#49111c ;
    }
.bottomnav{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color:#0a0908}

.description{
    position:flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color:#f2f4f3}

